.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;

}

.background {
    background: url(https://images.pexels.com/photos/261502/pexels-photo-261502.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center fixed;
    background-size: cover;
}

.welcome-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:navy;
    border:solid navy ;
    background-color: white;
    margin: auto;
    height: 30%;
    width: 50%;
    border-radius: 30px;
    
}
.message-col{
    display:flex;
    flex-direction: column;
    height:15%;
    width: 100%;
}
.body-row{
    display:flex;
    height:85%;
    width: 100%;
}