.sign-in-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width:100%;
    
}
.background {
    background: url(https://images.pexels.com/photos/261502/pexels-photo-261502.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center fixed;
    background-size: cover;
}

.sign-in-box{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    color: whitesmoke;
    border:solid grey ;
    background-color: navy;
    margin: auto;
    padding:5px;
    height: 400px;
    width: 500px;
    border-radius: 20px;
}
.input-container{
    flex-direction: row;
    justify-content: center;
    border: solid silver;
    height:30px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    
}